html{
    scroll-behavior: smooth;
  }
h1{
    font-size: 40px;
    font-family: 'Times New Roman','Times New Roman', Times, serif;
    text-align: center;
}
body{
    background-color: #d9e4ff;
    color: black;
}
h2{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}
h3{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}
.skip:focus{
    display: block;
    background-color: blue;
    text-decoration: underline;
    color: white;
    position:static;
}
p{
    line-height: 2.5;
}
img{
    border-style: solid;
    border-width: 5px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;

}
video{
    border-style: solid;
    border-width: 5px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
    
}
li{
    display:inline;
    margin-left: 80px;
}

@media only screen and (max-width: 1000px){
    nav{
        border: 2px solid black;
    }
    
    nav a:hover{
        background-color: blue;
        text-decoration: underline;
        color: white;
        padding: 5px;
        margin: 20px;
    }
    *:focus{
        border: 2px solid black;
        text-decoration: underline;
        background-color: white;
    }
    
    .skip a{
        background: white;
        left: 0;
        padding: 6px;
        -webkit-transition: top 1s ease-out;
        transition: top 1s ease-out;
        z-index: 1;
        position: absolute;
        top: -40px;
    }
    h3{
        size: 40px;
        text-decoration: underline;
    }
    .skip a:focus{
        position:absolute;
        top: 10px;
    }
    .container{
        display: grid;
    }
    .test img,video{
        width: 300px;
        height: 300px;
    }
    .recipe img,video{
        width: 300px;
        height: 300px;
    }
    .travel img,video{
        width: 300px;
        height: 300px;
    }
    .first img{
        float: left; 
        margin: 5px; 
    }
    .test li{
        display: block;
    }
    #header a{
        margin: 20px;
    }
    #header a:hover{
        background-color: blue;
        text-decoration: underline;
        color: white;
    }
    .recipe li{
        display: block;
    }
}


/*.container{
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    gap: 15px;
}*/

@media only screen and (max-width: 600px) {
    /* For mobile phones: */
    @keyframes example {
        from {color: black;
        text-decoration: none;}
        to {color: blue;
        text-decoration: underline;}
    }
    .skip{
        display: none;
    }
    h1{
        animation-name: example;
        animation-duration: 5s;
    }
    .current-page {
        font-weight: bold;
        background-color: #8babf1;
        text-decoration: underline;
    }
    nav{
        display: inline-block;
        background-color: white;
    }
    nav a{
        font-size: 30px;
    }
    .recipe{
        grid-template-columns: 50px auto 500px auto 50px;
    }
    .recipe li{
        margin-bottom: 20px;
    }
    .steps, .likes, .ingredients{
        display: grid;
    }
    img, video{
        margin: auto;
        margin-bottom: 20px;
        display: grid;
        width: 400px;
    }
}
@media screen and (prefers-reduced-motion: reduce){
    h1{
        animation:none;
    }
    .moving{
        display: none;
    }
}