h1{
    font-size: 40px;
    font-family: 'Times New Roman','Times New Roman', Times, serif;
    text-align: center;
}
body{
    background-color: #d9e4ff;
    color: black;
}
h2{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}
h3{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}
.skip:focus{
    display: block;
    background-color: blue;
    text-decoration: underline;
    color: white;
    position:static;
}
p{
    line-height: 2.5;
}
img{
    border-style: solid;
    border-width: 5px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;

}
video{
    border-style: solid;
    border-width: 5px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
    
}
li{
    display: inline;
    margin-left: 80px;
}

nav{
    border: 2px solid black;
}

nav a:hover{
    background-color: blue;
    text-decoration: underline;
    color: white;
    padding: 5px;
    margin: 20px;
}

*:focus{
    border: 2px solid black;
    text-decoration: underline;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .skip{
        display: none;
    }
    .current-page {
        font-weight: bold;
        background-color: #8babf1;
        text-decoration: underline;
    }
    
}