html{
    scroll-behavior: smooth;
  }
nav{
    font-family: monospace;
    text-align: center;
    margin: 30px;
}
h1{
    font-size: 40px;
    font-family: 'Sometype Mono',monospace;
    text-align: center;
}
#content {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#content button {
    background-color: darkgreen;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#content button:hover {
    background-color: #45a049;
}
figcaption{
    font-family: monospace;
}
#pets{
    background-color: #d9e4ff;
    color: black;
}
#recipes{
    background-color: #fcc9b5;
    color: black;
}
#travels{
    background-color: #cfebb6;
    color: black;
}
h2{
    font-size: 30px;
    font-family: monospace;
    color: black;
    text-align: center;
}
h3{
    font-size: 20px;
    font-family: monospace;
    color: black;
}
.skip:focus{
    display: block;
    background-color: blue;
    text-decoration: underline;
    color: white;
    position:static;
}
p{
    line-height: 2.5;
    font-family: monospace;
}
img{
    border-style: solid;
    border-width: 5px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;

}
img:hover{
    border-style: dashed;
    border-color: darkblue;
}
video{
    border-style: solid;
    border-width: 5px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
    
}
li{
    display:inline;
    margin-left: 80px;
}
.skip a{
    background: white;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
    position: absolute;
    top: -40px;
}
.skip a:focus{
    position:absolute;
    top: 10px;
}
span{
    font-family: monospace;
}
/* CSS */
.button-55 {
    align-self: center;
    background-color: #fff;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #41403e;
    cursor: pointer;
    display: inline-block;
    font-family: monospace;
    font-size: 1rem;
    line-height: 23px;
    outline: none;
    padding: .75rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-55:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
  }
  
  .button-55:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
    text-decoration: underline;
  }
  
  .ingredients{
    font-family: monospace;
  }
  .steps{
    font-family: monospace;
  }
  
  .current-page button{
    font-weight: bold;
    background-color: #8babf1;
    text-decoration: underline;
    }
  
  
  /* CSS */
  .button-54 {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-54:hover{
      background-color: white;
      text-decoration: underline;
  }
  
  .button-54:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
  }
  .button-54:focus {
      box-shadow: 0px 0px 0px 0px;
      top: 5px;
      left: 5px;
    }
  
  @media (min-width: 768px) {
    .button-54 {
      padding: 0.25em 0.75em;
    }
  }

@media only screen and (max-width: 1000px){
    nav a{
        display: block;
    }
    
    nav a:hover{
        background-color: white;
        text-decoration: underline;
    }
    *:focus{
        border: 2px solid black;
        text-decoration: underline;
        background-color: white;
    }

    
    .skip a{
        background: white;
        left: 0;
        padding: 6px;
        -webkit-transition: top 1s ease-out;
        transition: top 1s ease-out;
        z-index: 1;
        position: absolute;
        top: -40px;
    }
    h3{
        size: 40px;
        text-decoration: underline;
        text-align: center;
    }
    .skip a:focus{
        position:absolute;
        top: 10px;
    }
    .container{
        display: grid;
    }
    .test img,video{
        width: 300px;
        height: 300px;
    }
    .recipe img,video{
        width: 300px;
        height: 300px;
    }
    .travel img,video{
        width: 300px;
        height: 300px;
    }
    .first img{
        float: left; 
        margin: 5px; 
    }
    .test li{
        display: block;
    }
    .recipe li{
        display: block;
    }
}


/*#header a:hover{
    background-color: blue;
    text-decoration: underline;
    color: white;
}*/


/*.container{
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    gap: 15px;
}*/

@media only screen and (max-width: 600px) {
    a{
        text-decoration: underline;
    }
    .option a{
        display: block;
        text-align: center;
    }
    nav a{
        display: block;
        text-align: center;
    }

    
    /* For mobile phones: */
    @keyframes example {
        from {color: black;
        text-decoration: none;}
        to {color: blue;
        text-decoration: underline;}
    }
    .skip{
        display: none;
    }
    h1{
        animation-name: example;
        animation-duration: 5s;
    }
    nav{
        display: inline-block;
        background-color: white;
    }
    nav a{
        font-size: 30px;
    }
    .recipe{
        grid-template-columns: 50px auto 500px auto 50px;
    }
    .recipe li{
        margin-bottom: 20px;
    }
    .steps, .likes, .ingredients{
        display: grid;
    }
    img, video{
        margin: auto;
        margin-bottom: 20px;
        display: grid;
        width: 400px;
    }
}
@media screen and (prefers-reduced-motion: reduce){
    h1{
        animation:none;
    }
    .moving{
        display: none;
    }
}

@media only screen and (min-width: 1000px){
.first{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
h3{
    text-decoration: underline;
    text-align: center;
}
.likes li{
    display: block;
    text-align: left;
    margin:auto;
}
.like{
    text-align: left;
}
span{
    display: block;
    text-align: center;
    font-size: 20px;
}
.ingredients {
    text-align: center;
    list-style-type: none;
    padding: 0;
    font-family: monospace;
}

.ingredients li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.ingredients span {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-image: url('/images/background.jpg'); /* Set the path to your background image */
    background-size: cover; /* Adjust this property based on your image requirements */
    color: #fff;
    text-align: center;
    line-height: 25px;
    margin-right: 10px;
}

.steps {
    list-style-type: none;
    padding: 0;
    font-family:'Sometype Mono', monospace;
}

.steps li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.steps span {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-image: url('/images/background.jpg'); /* Set the path to your background image */
    background-size: cover; /* Adjust this property based on your image requirements */
    color: #fff;
    text-align: center;
    line-height: 25px;
    margin-right: 10px;
}

.begin {
    text-align: center;
}
figure {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.option{
    display: flex;
    justify-content: center;
    align-items: center;
  
    /* Set margin to 0 to remove any default margin */
    padding: 10px;
    font-family: monospace;
    
}
}

