h1{
    font-size: 40px;
    font-family: sans-serif;
    text-align: center;
}
body{
    background-color: #054fb9;
    color: rgb(215, 234, 241);
}
h2{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
h3{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
p{
    line-height: 2.5;
}
img{
    border-style: solid;
    border-width: 5px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;

}
video{
    border-style: solid;
    border-width: 5px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
    
}
li{
    display: inline;
    margin-left: 50px;
}